<hr>
<%= form_with(model: @site, local: true) do |form| %>

  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div>
    <%= "User ID" %>
    <br>
    <%= current_user.id %>
    <br>
    <% form.label :user_id %>
    <% form.text_area :user_id, id: :current_user_id %>
  </div> -->

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :site_link %>
  </div>

  <div class="field">
    <%= form.label :element, "Select Element:" %>
    <%= form.select :element, [ 'header', 'body', 'title', 'div', 'p', 'a', 'ul', 'li', 'img','h1', 'h2', 'h3', 'h4', 'h5', 'h6'], id: :site_element %> element
  </div>

  <hr>
    <h4>Optional Title </h4>
    <div class="field">
      <%= form.label :title, 'Your Title:' %>
      <%= form.text_field :title, id: :site_title %>
    </div>
  <hr>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
