<p id="notice"><%= notice %></p>

<h1>Sites</h1>

<br>
  <%= link_to 'New Site', new_site_path, class:"btn btn-primary btn-block" %>
<br>

<hr>

<!-- Must leave this each loop from controller or breaks -->
    <% @sites.each do |site| %>
    <% @site_link = site.link.to_s %>
    <% @site_open = Nokogiri::HTML(open(@site_link)) %>
    <% @official_title = @site_open.at_css("title").text %>

      <!-- Gets Scraped Site title -->
      <h5> Title:
        <% if site.title.blank? && @official_title.blank? %>

          <%= link_to "No Title Availble", site  %>

        <% elsif @official_title.blank?  %>

           <%= link_to "#{site.title}", site  %>

       <% elsif site.title.blank? %>

           <%= link_to "#{@official_title}", site  %>

       <% else %>

       <%= link_to "No Title Availble", site  %>

        <% end %>   <!-- End of elsif -->
      </h5>

      <!-- Gets site link -->
      <h6>
        Link: <a href="<%= site.link %>" target="_blank"> <%= site.link[8..40] %>......</a>
      </h6>
          <%= link_to 'Show', site %>  |
          <%= link_to 'Edit', edit_site_path(site) %> |
          <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %>
          <hr>
    <% end %> <!-- End of do loop -->
<br>

<%= link_to "Back", :back, class:"btn btn-outline-primary"%>
