<p id="notice"><%= notice %></p>


<!-- <%= @site_open.to_s %> -->
<!-- <%= @site_open.at_css("h3").text %>
<br>
<br>
<%= @site_open.at_css("h3").text.length %>
<br>
<hr>
<br> -->

<h1> Page </h1>

<% if @site.title.blank? %>
  <p>
<h5>
    <a href="<%= @site.link %>" target="_blank"> <%= @official_title %>
    </h5></a>
  </p>
<% else %>
  <p>
<h5>
    <a href="<%= @site.link %>" target="_blank"> <%= @site.title %></a>
  </p>
</h5>
<% end %>



<!-- <%= @official_title %> -->

<h6>
  <p>
    <strong>Link:</strong>
    <a href="<%= @site.link %>" target="_blank"> <%= @site.link %></a>
  </p>
</h6>

<br>
<br>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
