<font style="color:green;">
  <p id="notice"><%= notice %></p>
</font>

<h1> Page </h1>

<% if @site.title.blank? && @official_title.blank? %>

<h5>
    Title: <a href="<%= @site.link %>" target="_blank">
      No Title Availble
    </a>
</h5>

<% elsif @official_title.blank?  %>

    <h5>
        Title: <a href="<%= @site.link %>" target="_blank">
          <%= "#{@site.title}"%>
        </a>
    </h5>

<% elsif @site.title.blank?  %>

    <h5>
        Title: <a href="<%= @site.link %>" target="_blank">
          <%= "#{@official_title}"%>
        </a>
    </h5>

<% else %>

    <h5>
        Title: <a href="<%= @site.link %>" target="_blank">
          No Title Availble
        </a>
    </h5>

<% end %>

<h6>
  <p>
    <strong>Link:</strong>
    <a href="<%= @site.link %>" target="_blank"> <%= @site.link %></a>
  </p>
</h6>

<hr>

<% if @site.element.empty? != true %>
  <h6>
    <p>

      <strong>Selected Element:</strong>
      <%= @site.element %>

      <br>

      <strong>Number of Element Results:</strong>
      <%= @all_elements.to_a.count %>

      <br>
      <br>
      <%= link_to 'Edit Selected Element', edit_site_path(@site), class:"btn btn-outline-secondary" %>

      <br>
      <hr>

      <% if @all_elements.to_a.count < 1 %>

          <h1>
            <font style="color:red;">  The <%= @site.element %> element is not used on your Webpage </font>
          </h1>
      <% else  %>

<!-- Numbers each elment counted on page -->
      <% element_counter = 1 %>

          <% @all_elements.each do |pick| %>

              <% until element_counter > @all_elements.to_a.count.to_i %>

              <strong>
                Element Result: <%= element_counter %>
              </strong>
                  <br>
                  <%= pick %>
                  <br>
                  <hr>
                  <% element_counter = element_counter +1 %>
              <% end %>
          <% end %>

      <% end  %>
    </p>
  </h6>
<% end %>

<br>



<% puts "\n*****************" %>
<% puts "*****************

" %>

<!-- <%= @html_doc.class %> -->
<%# puts @all_elements %>


<% puts "\n*****************" %>
<% puts "*****************

" %>

<%= link_to "Back", :back, class:"btn btn-outline-primary"%>
