<p id="notice"><%= notice %></p>


<!-- <%= @site_open.to_s %> -->
<%= @site_open.at_css("h3").text %>
<br>
<br>
<%= @site_open.at_css("h3").text.length %>
<br>
<hr>
<br>

<% if @site.title.blank? %>
  <p>
    <strong> Title: </strong>
    <a href="<%= @site.link %>" target="_blank"> <%= @official_title %></a>
  </p>
<% else %>
  <p>
    <strong> Title: </strong>
    <a href="<%= @site.link %>" target="_blank"> <%= @site.title %></a>
  </p>
<% end %>



<!-- <%= @official_title %> -->


<p>
  <strong>Link:</strong>
  <a href="<%= @site.link %>" target="_blank"> <%= @site.link %></a>
</p>

<br>
<br>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
