<!DOCTYPE html>
<html>
  <head>

    <title>Element Scraper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--import bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  </head>

      <div class="header">
          <div class="top-header">
              <nav class="navbar navbar-expand-lg navbar-light bg-faded">
                <a class="navbar-brand" href="/">Element Scraper</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">

                    <%= link_to 'Home', root_url, class:"nav-item nav-link" %>

                    <%= link_to 'Sites', sites_path, class:"nav-item nav-link" %>

                  </div>
                </div>
              </nav>
          </div>
        </div>

  <body>
    <div class="container py-5 text-center">
      <%= yield %>
    </div>
  </body>
</html>
